<mat-card class="example-card">
    <mat-card-content class="contentBody">
        <h2>Installation Guide</h2>
        <hr>
        <h3>Installation</h3>
        <ol>
            <li>Install <em><strong>ng2-charts</strong></em> using npm</li>
        </ol>
        <pre class="language-bash" tabindex="0">
            <code>{{installStep1}}</code>
        </pre>
        <ol start="2">
            <li>Install <em><strong>Chart.js</strong></em> library</li>
        </ol>
        <pre class="language-bash" tabindex="0">
            <code>{{installStep2}}</code>
        </pre>

        <h3>API</h3>
        <ol>
            <li>Uses (In your App's module)</li>
        </ol>
        <pre class="language-bash" tabindex="0">
            <code>{{appModuleCode}}</code>
        </pre>

        <h3 class="TextCenter">For more details please check official docs: <a
                href="https://valor-software.com/ng2-charts/#GeneralInfo" target="_blank">ng2-charts</a></h3>
        <br>
    </mat-card-content>
</mat-card>